.menu{
    background-color: black;
    width: 100vw;
}
body{
    background-color: rgb(150, 140, 140);
    color:aliceblue;
    text-decoration:underline;
    text-align: center;
    
}

strong{
    color: #feffff
}
.menu{
    display: flex;
    justify-content: space-around;

}

*{
    margin: 30;
    padding: 14;
}
.apresentação__links{
    display: flex;
    justify-content: space-between;
}
.apresentação__links__link{
    background-color: #ffffff;
    width: 280px;
  text-align: center;
  border: 16px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px; 0;
  text-decoration:nome;
  color: #000000;
  font-family: `Monteserrat´, sans-serit;
}


